.container {
    height: 100vh;
  }

h1{
    color: brown;
    text-align: center;
}

h2{
    color: cadetblue;
    text-align: center;
}
.button{
    text-align: center;
 }

#button2{
    font-size: 20px;
}
 
#button2:hover{
    background-color: olivedrab;
}

.game-container { 
    background-color: powderblue;  
    height: 70vh;  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    &.game-container div{
        display: flex;
        border: 3px solid rgb(28, 100, 109)  ;
        cursor: pointer;
        font-size: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}
  
