/*Footer*/
.final__footer {
  background-color: gainsboro;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: fixed; }

.final__icon {
  margin: 30px;
  width: 40px;
  height: auto;
  margin-top: 20px;
  text-align: center; }

/* Button whatsapp*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.my-float {
  margin-top: 16px; }

/*Variables*/
/*Body*/
body {
  background-color: white; }

/*Variables*/
/*Titles*/
.principal__title {
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", cursive; }

/*IMG*/
.img__company {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*Galery Products*/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: 300px;
  padding: 20px;
  grid-gap: 10px; }

.gallery__item {
  position: relative; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gallery__item:nth-child(1) {
  grid-column-start: span 2;
  width: 100%;
  height: 100%; }

.gallery__item:nth-child(3) {
  grid-column-start: span 1; }

@media (min-width: 768) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr); }
  .gallery__itemn:nth-child(1) {
    grid-column-start: span 2; }
  .gallery__item:nth-child(3) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(5) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(2) {
    grid-column-start: span 3; } }
